{% extends "base.html" %}
{% block content %}




<div class="relative overflow-x-auto shadow-md sm:rounded-lg ">

<div class="mt-6">
    <a href="/ingreso/" class=" mx-6 px-6 py-3.5 text-base font-medium text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Registrar Nuevo</a>
</div>





    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400  mx-6 my-6">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    id
                </th>
                <th scope="col" class="px-6 py-3">
                    Nombre Establecimiento
                </th>
                <th scope="col" class="px-6 py-3">
                    Dirección
                </th>
                <th scope="col" class="px-6 py-3">
                    CP
                </th>
                <th scope="col" class="px-6 py-3">
                    Localidad
                </th>
                <th scope="col" class="px-6 py-3">
                    Accción
                </th>
            </tr>
        </thead>
        <tbody>
{% for r in rapido %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <td class="w-4 p-4">
                    {{r.id}}
                </td>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{r.nombre_establecimiento}}
                </th>
                <td class="px-6 py-4">
                     {{r.direccion}}
                </td>
                <td class="px-6 py-4">
                     {{r.cp}}
                </td>
                <td class="px-6 py-4">
                     {{r.localidad}}
                </td>
                <td class="px-6 py-4">
                    <a href="/edicion/{{ r.id }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Editar</a>
                </td>
            </tr>
{% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}
